.card {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background: var(--white);
}

.blue {
  background: #f9f8ff;
}

@media screen and (max-width: 320px) {
  .card > div {
    min-width: 260px;
  }
}
