.up {
  border-radius: 10px;
  bottom: 30px;
  right: 30px;
  position: fixed;
  border: none;
  cursor: pointer;
  transition: var(--transition);
}
.up:hover {
  background-color: var(--primary-hover);
}
