html,
body {
  margin: 0;
  padding: 0;
  color: var(--black);
  font-family: var(--font-family);
  background: var(--bg);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #3b434e;
  --gray-dark: #787d85;
  --gray-light: #ebebeb;
  --white: white;
  --primary: #7653fc;
  --primary-hover: #6b4edf;
  --red: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --bg: #f5f6f8;
  --font-family: "Noto Sans", sans-serif;
  --transition: all, 0.2s;
}
