body {
  background: linear-gradient(107.32deg, #804bd8 5.53%, #544ad8 97.3%);
}

/* .container {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "sidebar body body"
    "footer footer footer";
} */

/* .container {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "sidebar body body"

	// Футер тлько под боди(ставим точку)
	
    ". footer footer";
} */

/* БОЛЕЕ КОРОТКАЯ ЗАПИСЬ */
/* .container {
  display: grid;
  gap: 10px;
  grid-template:
    "header header header"
    "sidebar body body"
    ". footer footer"
    / 1fr 1fr 1fr;
} */

/* МОЖЕМ ЗАДАТЬ РАЗМЕРЫ: */
.container {
  display: grid;
  gap: 10px;
  grid-template:
    "header header header" 100px
    "sidebar body body" 200px
    ". footer footer" 75px
    / 1fr 1fr 1fr;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.body {
  grid-area: body;
}

.footer {
  grid-area: footer;
}

@media (max-width: 600px) {
  .container {
    grid-template-areas:
      "header header sidebar"
      "body body sidebar "
      "footer footer footer";
  }
}

@media (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "body"
      "sidebar"
      "footer";
  }
}

/* .header {
  Старт-Вертикаль(1), Старт-Горизонталь(1)
	Финиш-Вертикаль(3), Финиш-Горизонталь(4) 
  grid-area: 1/1/2/4;
} */

.container > div {
  font-weight: bold;
  font-size: 20px;
  color: white;
  border: 2px solid #fe7a71;
  display: flex;
  align-items: center;
  justify-content: center;
}
