.filled svg {
  fill: var(--primary);
}

.star {
  display: inline-block;
}

.star svg {
  transition: var(--transition);
}

.editable {
  cursor: pointer;
}

.ratingWrapper {
  position: relative;
}

.error svg {
  stroke: var(--red);
}

.ratingMessage {
  position: absolute;
  bottom: -25px;
  left: -20px;
  color: var(--red);
  white-space: nowrap;
}
